/* Sección general */
.about-us-section {
    background-color: #f9f9f9;
    padding: 60px 20px;
    font-family: 'Be Vietnam Pro', sans-serif;
    color: #333;
  }
  
  /* Introducción */
  .about-logo-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .about-logo {
    width: 120px;
    height: auto;
  }
  
  .section-title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #005f73;
  }
  
  .about-us-text {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #555;
  }
  
  /* Misión y Visión */
  .mission-vision {
    margin-top: 20px;
  }
  
  .mission-title,
  .vision-title {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #005f73;
  }
  
  .mission-text,
  .vision-text {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #555;
  }
  
  /* Valores */
  .values-section {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
  }
  
  .values-title {
    font-size: 2rem;
    margin-bottom: 30px;
    color: #005f73;
  }
  
  .value-item {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .value-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .value-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
  }
  
  .value-card h4 {
    font-size: 1.3rem;
    margin-bottom: 10px;
    color: #0891b2;
  }
  
  .value-card p {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
  }
  
  /* Propuesta de Valor */
  .value-proposition-section {
    margin-top: 40px;
  }
  
  .value-proposition h2 {
    font-size: 2rem;
    color: #005f73;
    margin-bottom: 20px;
  }
  
  .value-proposition p {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #555;
  }


  .talent-section  h2 {
    font-size: 2rem;
    color: #005f73;
    margin-bottom: 20px;
  }
  
  /* Responsividad */
  @media (max-width: 768px) {
    .section-title,
    .values-title {
      font-size: 1.8rem;
    }
  
    .value-card h4 {
      font-size: 1.2rem;
    }
  
    .value-card p {
      font-size: 0.95rem;
    }
  }

.dark-mode .about-us-section {
  background-color: #292d2f;
  color: #d3d0cc;
}

.dark-mode .section-title,
.dark-mode .mission-title,
.dark-mode .vision-title,
.dark-mode .values-title,
.dark-mode .value-proposition h2 {
  color: #0ea5e9;
}

.dark-mode .about-us-text,
.dark-mode .mission-text,
.dark-mode .vision-text,
.dark-mode .value-card p,
.dark-mode .value-proposition p {
  color: #d3d0cc;
}

.dark-mode .value-card {
  background-color: #3c3e3f;
  color: #d3d0cc;
  box-shadow: #454849 0px 1px 2px 0px;
}

.dark-mode .value-card h4 {
  color: #0ea5e9;
}
