.catalogo-expertos-container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  font-family: "Inter", sans-serif;
  line-height: 1.6;
}

.catalogo-expertos-container h1 {
  font-size: 2.5rem;
  color: #0ea5e9;
  margin-bottom: 20px;
  font-weight: bold;
}

.catalogo-expertos-container p {
  font-size: 1rem;
  color: #333;
  margin-bottom: 15px;
}

.expert-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  text-align: center;
  transition: transform 0.3s ease;
}

.expert-card h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.expert-card p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.expert-card:hover {
  transform: translateY(-5px);
}

.expert-card-horizontal {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  display: flex;
  align-items: center;
  transition: transform 0.3s ease;
}

.expert-card-content {
  flex: 1;
  margin-left: 20px;
}

.expert-card-horizontal h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.expert-card-horizontal p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center; /* Alinear el contenido verticalmente */
}

.expert-card-horizontal .stars {
  display: flex;
  align-items: center; /* Alinear las estrellas horizontalmente */
  margin-left: 5px; /* Espacio entre el texto y las estrellas */
}

.expert-card-horizontal:hover {
  transform: translateY(-5px);
}

.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 20px;
}

.search-button {
  background-color: #0891b2;
  border-color: #0891b2;
  width: 200px;
}

.search-button:hover {
  background-color: #067a9e;
  border-color: #067a9e;
}

.ask-button {
  background-color: #0891b2;
  border-color: #0891b2;
  margin-left: 20px;
  border-radius: 25px;
  padding: 10px 20px;
  transition: transform 0.3s, background-color 0.3s;
}

.ask-button:hover {
  background-color: #067a9e;
  transform: scale(1.05);
}

.response-rate {
  font-size: 0.9rem !important;
  font-weight: bold;
  font-style: italic;
}

.custom-modal {
  max-width: 600px;
  margin: 1.75rem auto;
}

.custom-modal-header {
  background-color: #0891b2;
  color: white;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.custom-modal-body {
  padding: 2rem;
}

.custom-modal-footer {
  background-color: #f1f1f1;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.custom-modal-footer .btn-secondary {
  background-color: #f8f9fa; /* Color de fondo más oscuro */
  color: #333; /* Color de texto más oscuro */
  border-color: #ced4da; /* Color de borde */
  transition: background-color 0.3s, color 0.3s;
}

.custom-modal-footer .btn-secondary:hover {
  background-color: #e2e6ea; /* Color de fondo más oscuro al pasar el ratón */
  color: #212529; /* Color de texto más oscuro al pasar el ratón */
}

.no-minimize .modal-header .close {
  display: none;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .expert-card-horizontal {
    flex-direction: column;
    align-items: flex-start;
  }

  .profile-picture {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .expert-card-content {
    margin-left: 0;
  }

  .ask-button {
    margin-left: 0;
    margin-top: 10px;
    width: 100%;
  }
}
