.landing-page {
  font-family: "Inter", sans-serif;
  line-height: 1.6;
}

.welcome-section {
  background: linear-gradient(135deg, #0ea5e9, #0891b2);
  color: white;
  padding: 60px 20px;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.cta-button {
  background: #fff;
  color: #0891b2;
  border-radius: 25px;
  padding: 10px 30px;
  transition: transform 0.3s;
}

.cta-button:hover {
  transform: scale(1.1);
}

.section-title {
  color: #0ea5e9;
  font-weight: bold;
  margin-bottom: 40px;
}

.feature-card {
  text-align: center;
  border: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  min-height: 2rem; /* Ajuste mínimo para mantener el tamaño uniforme */
  height: 100%; /* Se expande para mantener la altura de la más grande */
  border-radius: 15px;
}

.feature-icon {
  color: #0891b2;
  margin-bottom: 15px;
}

.testimonials-section {
  background: #f3f4f6;
  padding: 50px 20px;
}

.testimonial-card {
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 20px;
}

.testimonial-quote {
  font-style: italic;
  font-size: 1.1rem;
  color: #555;
}

.testimonial-author {
  font-weight: bold;
  color: #0891b2;
  margin-top: 10px;
}

.how-it-works-section {
  padding: 60px 20px;
  background: linear-gradient(to bottom, #f9f9f9, #ffffff);
}

.section-title {
  font-size: 2rem;
  margin-bottom: 40px;
  color: #0891b2;
}

.steps-block {
  margin-bottom: 50px;
}

.steps-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #005f73;
  font-weight: bold;
}

.steps-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.step-card {
  display: flex;
  align-items: center;
  gap: 20px;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 600px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.step-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

.step-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0891b2;
  color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 1.5rem;
  font-weight: bold;
  flex-shrink: 0; /* Asegurar que el tamaño no se reduzca */
}

.step-details h4 {
  margin: 0;
  font-size: 1.2rem;
  color: #005f73;
}

.step-details p {
  margin: 5px 0 0;
  color: #555;
  font-size: 1rem;
}

/* Logo */
.logo-container {
  display: inline-block;
  background-color: white;
  padding: 20px;
  border-radius: 50%;
  margin-bottom: 30px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.asky-logo {
  width: 120px;
}

/* Espaciado entre secciones */
.landing-page section {
  margin-bottom: 80px;
}

.dark-mode .landing-page {
  background-color: #292d2f;
  color: #d3d0cc;
}

.dark-mode .welcome-section {
  background: linear-gradient(135deg, #3c3e3f, #454849);
  color: #0ea5e9;
}

.dark-mode .cta-button {
  background: #0ea5e9;
  color: #292d2f;
}

.dark-mode .cta-button:hover {
  background: #0891b2;
}

.dark-mode .feature-card {
  background-color: #3c3e3f;
  color: #d3d0cc;
  box-shadow: #454849 0px 1px 2px 0px;
}

.dark-mode .testimonials-section {
  background: #3c3e3f;
  color: #d3d0cc;
}

.dark-mode .testimonial-card {
  background-color: #454849;
  color: #d3d0cc;
  box-shadow: #454849 0px 1px 2px 0px;
}

.dark-mode .how-it-works-section {
  background: linear-gradient(to bottom, #3c3e3f, #454849);
  color: #d3d0cc;
}

.dark-mode .step-card {
  background-color: #3c3e3f;
  color: #d3d0cc;
  box-shadow: #454849 0px 1px 2px 0px;
}

.dark-mode .step-icon {
  background: #0ea5e9;
  color: #292d2f;
}

