/* Perfil del usuario */
.profile-container {
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .profile-header {
    margin-bottom: 30px;
  }
  
  .profile-picture-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    flex-wrap: nowrap; /* Mantener los elementos en una sola línea */
  }

  .profile-picture-container input {
    flex: 1 1 auto; /* Permitir que el input ocupe el espacio disponible */
    min-width: 200px; /* Asegurar un tamaño mínimo para el input */
    margin-left: 15px; /* Añadir un margen izquierdo para separar la imagen del input */
  }

  @media (max-width: 576px) {
    .profile-picture-container {
      flex-wrap: wrap; /* Permitir que los elementos se envuelvan en pantallas pequeñas */
    }
  
    .profile-picture-container input {
      margin-left: 0; /* Quitar el margen izquierdo en pantallas pequeñas */
      margin-top: 10px; /* Añadir un margen superior para separar la imagen del input en pantallas pequeñas */
    }
  }

  .profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
    /* Asegurar que la imagen siempre sea un círculo */
    aspect-ratio: 1 / 1;
  }
  
  .profile-form {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-title {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #005f73;
  }
  
  .profile-form label {
    font-weight: bold;
    color: #333;
  }
  
  .profile-form input,
  .profile-form select {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 1rem;
  }
  
  .submit-button {
    background-color: #005f73;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #028090;
  }

.submit-button.mt-3 {
  margin-top: 30px; /* Separar el botón de guardar cambios */
}

.submit-button.mt-4 {
  margin-top: 40px; /* Separar el botón de guardar cambios */
}

/* Select customizado */
.select-dropdown {
    margin-top: 5px;
  }
  
  .select-dropdown .css-1s2u09g-control {
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: none;
    padding: 5px;
    font-size: 1rem;
  }
  
  .select-dropdown .css-1s2u09g-control:hover {
    border-color: #005f73;
  }
  
  .select-dropdown .css-1okebmr-indicatorSeparator {
    display: none;
  }
  
  .select-dropdown .css-319lph-ValueContainer {
    padding: 5px 10px;
  }
  
  .select-dropdown .css-1hb7zxy-IndicatorsContainer {
    padding: 5px;
  }
  
  .select-dropdown .css-12jo7m5-MultiValue {
    background-color: #e0f7fa;
    border-radius: 3px;
    padding: 2px 5px;
    font-size: 0.9rem;
    color: #005f73;
  }
  
  .select-dropdown .css-12jo7m5-MultiValue__remove {
    color: #005f73;
  }
  
  .select-dropdown .css-12jo7m5-MultiValue__remove:hover {
    background-color: #028090;
    color: #fff;
  }

/* Sidebar styles */
.profile-sidebar {
  background-color: #005f73; /* Cambiado al color del botón de guardar cambios */
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar-button {
  display: block;
  width: 100%;
  text-align: left;
  padding: 10px 15px;
  margin-bottom: 10px;
  border: none;
  background-color: transparent;
  color: #fff; /* Cambiado al color blanco */
  font-weight: normal; /* Quitar la negrilla */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-family: inherit; /* Cambiado para usar la misma tipografía */
  text-decoration: none; /* Quitar el efecto de subrayado */
}

.sidebar-button:hover,
.sidebar-button.active {
  background-color: #028090; /* Cambiado al color hover del botón de guardar cambios */
  color: #fff;
  text-decoration: none; /* Quitar el efecto de subrayado */
}

/* Estilos para los botones de mostrar/ocultar contraseña */
.password-input {
  position: relative;
}

.password-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #005f73;
}

.password-toggle:focus {
  outline: none;
}

.notification-label {
  font-weight: normal !important; /* Quitar la negrilla */
}

.delete-button {
  background-color: #dc3545; /* Rojo */
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: #c82333; /* Rojo más oscuro */
}

.checkbox-label {
  font-weight: normal !important; /* Quitar la negrilla */
}

.modal-footer .btn-secondary {
  background-color: #f8f9fa; /* Color de fondo más oscuro */
  color: #333; /* Color de texto más oscuro */
  border-color: #ced4da; /* Color de borde */
  transition: background-color 0.3s, color 0.3s;
}

.modal-footer .btn-secondary:hover {
  background-color: #e2e6ea; /* Color de fondo más oscuro al pasar el ratón */
  color: #212529; /* Color de texto más oscuro al pasar el ratón */
}

.modal-footer .btn-primary {
  background-color: #005f73; /* Color de fondo */
  color: #fff; /* Color de texto */
  border-color: #005f73; /* Color de borde */
  transition: background-color 0.3s, color 0.3s;
}

.modal-footer .btn-primary:hover {
  background-color: #028090; /* Color de fondo más oscuro al pasar el ratón */
  color: #fff; /* Color de texto */
}

/* Dark mode styles */
.dark-mode .profile-container {
  background-color: #292d2f;
  color: #d3d0cc;
  box-shadow: #454849 0px 1px 2px 0px;
}

.dark-mode .profile-form {
  background-color: #3c3e3f;
  color: #d3d0cc;
  box-shadow: #454849 0px 1px 2px 0px;
}

.dark-mode .form-title {
  color: #0ea5e9;
}

.dark-mode .profile-form label {
  color: #d3d0cc;
}

.dark-mode .profile-form input,
.dark-mode .profile-form select {
  background-color: #292d2f;
  color: #d3d0cc;
  border: 1px solid #454849;
}

.dark-mode .submit-button {
  background-color: #0ea5e9;
  color: #292d2f;
}

.dark-mode .submit-button:hover {
  background-color: #0891b2;
}

.dark-mode .profile-sidebar {
  background-color: #3c3e3f;
  color: #d3d0cc;
}

.dark-mode .sidebar-button {
  color: #d3d0cc;
}

.dark-mode .sidebar-button:hover,
.dark-mode .sidebar-button.active {
  background-color: #454849;
}

.dark-mode .password-toggle {
  color: #0ea5e9;
}

.dark-mode .delete-button {
  background-color: #0ea5e9;
  color: #292d2f;
}

.dark-mode .delete-button:hover {
  background-color: #0891b2;
}
