/* Sección: Nuestro Talento */
.talent-section {
  margin-top: 50px;
  margin-bottom: 50px;
}

.talent-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.talent-card-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.talent-card {
  text-align: center;
  padding: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #fff;
}

.talent-img {
  width: 100%;
  max-width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
  transition: transform 0.3s ease-in-out;
}

.talent-img:hover {
  transform: scale(1.1);
}

.talent-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: #444;
}

.talent-title {
  font-size: 1rem;
  color: #666;
}


.next-steps .fa-link {
  margin-right: 5px;
}

/* Fix for use only flexbox in content area */
.next-steps .row {
  margin-bottom: 0;
}

.next-steps .col-md-5 {
  margin-bottom: 3rem;
}

@media (max-width: 768px) {
  .next-steps .col-md-5 {
    margin-bottom: 0;
  }
}

.spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.result-block-container .result-block {
  opacity: 1;
}

/* Modo oscuro*/
/* Contenedor del botón toggle */
.toggle-container {
  width: 50px;
  height: 25px;
  background: #ccc;
  border-radius: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: background 0.3s ease-in-out;
}

/* Estilos cuando está en modo oscuro */
.dark-mode .toggle-container {
  background: #4d4d4d;
}

/* Círculo deslizante */
.toggle-circle {
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  position: absolute;
  left: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out, background 0.3s ease-in-out;
}

/* Mueve el círculo a la derecha cuando está en modo oscuro */
.dark-mode .toggle-circle {
  transform: translateX(25px);
  background: #fdd835;
}

/* Ícono dentro del botón */
.toggle-icon {
  font-size: 12px;
  color: #4d4d4d;
  transition: color 0.3s ease-in-out;
}

/* Cambia el color del ícono cuando está en modo oscuro */
.dark-mode .toggle-icon {
  color: white;
}

body.dark-mode {
  background-color: #3a3b3c !important
}

.dark-mode .navbar {
  background-color: #3c3e3f !important;
  box-shadow: #454849 0px 1px 2px 0px;
}

.dark-mode .nav-link {
  color: #d3d0cc !important;
}

.dark-mode .catalogo-expertos-container {
  background-color: #313639;
  box-shadow: rgba(38, 38, 38, 0.1) 0px 5px 15px;
}

.dark-mode .form-label {
  color: #d3d0cc !important;
}

.dark-mode .expert-card-horizontal {
  background-color: #3c3e3f !important;
  box-shadow: #454849 0px 1px 2px 0px;
}

.dark-mode .expert-card-content {
  color: #d3d0cc !important;
}

.dark-mode .expert-card-content p {
  color: #d3d0cc !important;
}

p.dark-mode {
  color: #d3d0cc !important;
}